<ion-view title="Maps" id="page7" class="pane">
  <ion-content padding="true" ng-controller="MapsCtrl">
    <style type="text/css">
      .pane{
        background: url(../img/maps.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
      }
      </style>

    <button class="button button-balanced" style="align-content: center" ng-click="openDirections()" >
  Get Direction
</button>

</ion-content>

  </ion-view>
